# STUDENT PERFORMANCE INDICATOR

## Problem Statement

#### This model understance and predict how well the student perform in terms of test score under various factor like gender , Parent level of education etc

### 1) Import data set and related libraries

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [54]:
data = pd.read_csv('stud_data.csv')

In [55]:
data.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [18]:
data.shape

(1000, 8)

#### Information obtained from dataset

gender : sex of students -> (Male/female)
race/ethnicity : ethnicity of students -> (Group A, B,C, D,E)
parental level of education : parents' final education ->(bachelor's degree,some college,master's degree,associate's degree,high school)
lunch : having lunch before test (standard or free/reduced)
test preparation course : complete or not complete before test
math score
reading score
writing score

### 2) Different data check

#### 2.1) Data information

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

#### 2.2) Check for null value and duplicate value in dataset

In [22]:
data.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [24]:
data.duplicated().sum()

0

#### 2.3) Checking no of unique values

In [25]:
data.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

#### 2.4) Statistics of data

In [26]:
data.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### 2.5) Define neumerical and categorical values

In [44]:
num_features = [feature for feature in data.columns if data[feature].dtype != 'O']
cat_features = [feature for feature in data.columns if data[feature].dtype == 'O']

print('we have {} numerical feature in data set which are {}' .format(len(num_features), num_features))

print('we have {} categorical feature which are{}'.format(len(cat_features), cat_features))

we have 3 numerical feature in data set which are ['math_score', 'reading_score', 'writing_score']
we have 5 categorical feature which are['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course']

### Adding columns for Total score and Average score

In [56]:
data['Total_score'] = data['math_score'] + data['reading_score'] + data['writing_score']
data['Average_score'] = data['Total_score']/3

data.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,Total_score,Average_score
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333

#### Calculate no of students with Full score